# Configurações do Servidor
PORT=3000
NODE_ENV=local

# Configurações do OpenAI (opcional se usar Azure OpenAI)
OPENAI_API_KEY=your_openai_api_key_here

# Configurações do Azure OpenAI
AZURE_OPENAI_API_KEY=your_azure_openai_api_key_here
AZURE_OPENAI_ENDPOINT=https://openai-ginfo-dev-froundry.openai.azure.com
AZURE_OPENAI_API_DEPLOYMENT_NAME=your_deployment_name_here
AZURE_OPENAI_API_VERSION=2024-02-15-preview

# Configurações do ChromaDB
CHROMA_HOST=localhost
CHROMA_PORT=8000
CHROMA_COLLECTION=documents

# Configurações de Logging
LOG_LEVEL=info